/* Применится ко всем спискам на странице */
ul {
  list-style: none;
}
/* Применится ко всем ссылкам на странице */

a {
  text-decoration: none;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

/*index*/

body {
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.header-contacts a {
  font-style: normal;
  color: #757575;
}

.main-nav-link:visited {
  color: #2196f3;
}

.main-nav-link {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.main-nav-link.current {
  background: #2196f3;
  border-radius: 4px;
  color: #ffffff;
}

.hero {
  background-color: #2f303a;
  color: #ffffff;
  font-size: 2.1em;
}
.hero button {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero h1 {
  font-family: Roboto;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: 900;
  font-size: 44 px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.features p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.features h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.specialization h2,
.team h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

a:hover,
a:focus {
  color: #2196f3;
}

footer {
  background-color: #2f303a;
}

footer a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

/*portfolio-style*/

.portfolio-projects p {
  color: #757575;
  font-size: 16 px;
  line-height: 1.875;
  font-weight: normal;
}

.portfolio-projects h3 {
  color: black;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}

.portfolio-projects-filter button:hover {
  background-color: #2196f3;
  color: white;
}

.portfolio-projects button,
.portfolio-projects p {
  text-transform: capitalize;
}

.portfolio-projects-filter button {
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #212121;
}
